<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="border-0" scope="col" [class.bg-light]="isBasket">
          <div class="p-2 px-3 text-uppercase">Product</div>
        </th>
        <th class="border-0" scope="col" [class.bg-light]="isBasket">
          <div class="p-2 px-3 text-uppercase">Price</div>
        </th>
        <th class="border-0" scope="col" [class.bg-light]="isBasket">
          <div class="p-2 px-3 text-uppercase">Quantity</div>
        </th>
        <th class="border-0" scope="col" [class.bg-light]="isBasket">
          <div class="p-2 px-3 text-uppercase">Total</div>
        </th>
        <th *ngIF="isBasket" class="border-0 bg-light" scope="col">
          <div class="p-2 px-3 text-uppercase">Remove</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of (basket$ | async).basketItems">
        <th scope="row">
          <div class="p-2">
            <div class="ml-3 d-inline-block align-middle">
              <h5 class="mb-0">
                <a routerLink="/shop/{{ product.id }}" class="text-dark">{{
                  product
                }}</a>
              </h5>
              <span class="text-muted font-weight-normal font-italic d-block">
                Type: [[Product Name]]
              </span>
            </div>
          </div>
        </th>
        <td class="align-middle">
          <strong>{{ product.price | currency }}</strong>
        </td>
        <td class="align-middle">
          <div
            class="d-flex align-items-center"
            [class.justify-content-center]="!isBasket"
          >
            <i
              *ngIF="isBasket"
              (click)="decrementItemQuantity(product)"
              class="fa fa-minus-circle text-warning mr-2"
              style="cursor: pointer; font-size: 2em"
            ></i>
            <span class="font-weight-bold" style="font-size: 1.5em">{{
              product.quantity
            }}</span>
            <i
              *ngIF="isBasket"
              (click)="incrementItemQuantity(product)"
              class="fa fa-plus-circle text-warning mx-2"
              style="cursor: pointer; font-size: 2em"
            ></i>
          </div>
        </td>
        <td class="align-middle">
          <strong>{{ product.price * product.quantity | currency }}</strong>
        </td>
        <td class="align-middle text-center">
          <a class="text-danger">
            <i
              *ngIF="isBasket"
              (click)="removeBasketItem(product)"
              class="fa fa-trash"
              style="font-size: 2em; cursor: pointer"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
