
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover" style="cursor: pointer">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <!-- <th scope="col">Description</th> -->
            <th scope="col">Profile Picture</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile Number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of currentCustomerUsers">
              <td>{{item.username}}</td>

              <td>{{item.profilePicture}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobileNumber}}</td>
            </tr>

<!--
              <button mat-icon-button color="primary">
                <mat-icon (click)="showDetails(item)">visibility</mat-icon>

            </button>
                <button (click)="editProduct(item)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>

                </button>

                <button (click)="confrimDelete(item.id)" mat-icon-button color="warn">
                  <mat-icon>delete</mat-icon>

                 </button>


              </td>
            </tr>


-->
</tbody>
</table>
</div>
</div>
  <mat-paginator [length]="count"
  [pageSize]="6"
  (page)="onPageChanged($event)"
  aria-label="Select page">
</mat-paginator>
